@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-7px);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 1s ease-out;
  }
  
  .animate-bounce {
    animation: bounce 2s infinite;
  }
  
  @media screen and (max-width: 991px) {
    .hero-header_component {
        align-items: center;
        padding-bottom: 15vw;
    }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
